Repository Programming-TRIGON/Offseason2019, pull requests merged in 2019-10, with the labels that each got.

#38 3D Gyro instead of old one
  src/main/java/frc/robot/RobotComponents.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  vendordeps/ADIS16448.json
Labels: Subsystem

#14 Commend groups by Moshe
  src/main/java/frc/robot/Enums.java
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/command_group/CollectCargoFromFloor.java
  src/main/java/frc/robot/command_group/DefenceMode.java
  src/main/java/frc/robot/command_group/EjectHatch.java
  src/main/java/frc/robot/command_group/HatchScore.java
  src/main/java/frc/robot/commands/DriveStraight.java
  src/main/java/frc/robot/commands/HatchHolderEject.java
  src/main/java/frc/robot/commands/HatchHolderLock.java
  src/main/java/frc/robot/commands/SetLiftHeight.java
  src/main/java/frc/robot/commands/WaitUntil.java
  src/main/java/frc/robot/pidsources/DriveForwardPidSource.java
  src/main/java/frc/robot/subsystems/HatchHolder.java
Labels: Command Group

#27 Score cargo cmd
  src/main/java/frc/robot/Enums.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/command_group/ScoreCargo.java
  src/main/java/frc/robot/subsystems/Lift.java
Labels: Command Group

#39 Encoder Talons
  src/main/java/frc/robot/RobotComponents.java
  src/main/java/frc/robot/RobotMap.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
Labels: Robot, Subsystem

#37 TestPID command
  src/main/java/frc/robot/Enums.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotConstants.java
  src/main/java/frc/robot/commands/CalibrateDistance.java
  src/main/java/frc/robot/commands/Commands.java
  src/main/java/frc/robot/commands/DriveArcade.java
  src/main/java/frc/robot/commands/SetLiftHeight.java
  src/main/java/frc/robot/commands/VisionPID.java
  src/main/java/frc/robot/motionprofiling/FollowPath.java
  src/main/java/frc/robot/pidsources/VisionPIDSourceY.java
  src/main/java/frc/robot/subsystems/Drivetrain.java
  src/main/java/frc/robot/testpids/TestPID.java
  src/main/java/frc/robot/testpids/TestPIDGyro.java
  src/main/java/frc/robot/utils/Limelight.java
Labels: Command
